<div class="h-14 w-full bg-white shadow-lg border-b flex justify-between items-center px-8">
  <div class="flex justify-center items-center h-full">
    <p class="text-xl font-medium text-gray-800">Inventory Management System</p>
  </div>

  <div class="flex flex-row items-center space-x-3 h-full">
    <a href="/login">
      <button class="w-20 h-9 bg-blue-600 hover:bg-gray-700 text-white text-sm font-normal rounded-md transition transform-transition">Login</button>
    </a>
    <a href="/admin/new">
      <button class="w-32 h-9 bg-blue-600 hover:bg-gray-700 text-white text-sm font-normal rounded-md transition transform-transition">New here!</button>
    </a>
  </div>
</div>

