<div class="h-14 w-full bg-white flex justify-center shadow-lg border-b items-center">
    <p class="text-xl font-medium text-gray-800">Inventory Management System</p>
</div>

<div class=" h-full flex flex-col items-center justify-center space-y-3 bg-gray-200">
    <div class="w-1/2 h-1/2 flex items-center justify-center">
        <%= image_tag "landing_page.jpg", class: "w-80 h-full rounded-lg" %>
    </div>

    <div class="flex flex-row space-x-3">
        <button class="w-32 h-11 bg-blue-600 text-white font-medium rounded-md hover:bg-gray-800"><a href="">Sign in</a></button>
        <button class="w-32 h-11 bg-blue-600 text-white font-medium rounded-md hover:bg-gray-800"><a href="">Sign up</a></button>
    </div>
</div>